@media(max-width:599px){
/* 헤더입니다.  /////////////////////
////////////////////////////////////*/
header{width: 100%; height: 55px;padding: 10px 0;background-color: white;
    position: absolute;z-index: 10; position: fixed;}
        #main{width: 96%; height: 38px; margin: 0 auto;position: relative;}
        /* 로고 입니다 */
        #logo{float: left;}
        #logo img{width: 130px; height: 35px;}
    
        /* 네비게이션 입니다 */
        nav{display: none;}
        #login{display: none;}
        /* 햄버거 매뉴입니다 */
        #main .hamburger{float: right; cursor: pointer;}
        #main .hamburger img{width: 40px;height: 43px; margin-top: -4px;}

#Manu{width: 100%;height: auto; position: fixed;background-color: white; margin-top: 8px; display: none;}
#Manu .Manu{width: 80%;height: 100%; padding-top: 20px; margin: 0 auto;}
#Manu .Manu a{width: 100%; display: block;text-align: center;margin:20px 0; font-weight: bold;font-size: 16px;}
#Manu .Manu a:hover{text-decoration: underline;}
#Manu .Manu .login a:nth-of-type(2){background-color: black; color: white;width: 100%;height: 100%;padding: 10px 0;
margin-top: 30px; border-radius: 10px; transition: 0.5s; margin-bottom: 40px;}
#Manu .Manu .login a:nth-of-type(2):hover{text-decoration: none; background-color: rgb(0, 68, 255);}

    
    /* 푸터입니다.  //////////////////////
    /////////////////////////////////////*/
    footer{width: 100%; height: auto; background-color: white; 
        box-shadow: rgb(241, 241, 241) 0 -35px 30px 1px;}
        #footer{width: 100%; height: auto; margin: 0 auto;
        padding-top: 50px;}
        /* 프터안 박스입니다 */
        .footer-box{width: 100%; height: auto;padding-left: 40px;}
        /* 아이콘 및 로고 입니다. */
        .footer-box .logo-icon{width: 200px; height: 170px;}
        .footer-box .logo-icon img[alt="logo"]{width: 100%;margin: 0;}
        .footer-box .logo-icon img{width: 18%;margin:15% 6%;}
        /* 메뉴입니다. */
        .footer-box .menu{height: 190px; width: auto; font-weight: bold; color: black;
        font-size: 18px;margin-left: 15px;}
        .footer-box .menu a{display: block;}
        .footer-box .menu a:hover{text-decoration:underline;}
        /* 마지막 박스 입니다. */
        #footer .undertext{border: solid #777 1px; border-style: solid none none none;
        width: 100%; margin-top: 30px; display: flex; flex-direction: row; flex-wrap: wrap;
    justify-content: flex-start; align-content: flex-start;}
        #footer .undertext a{font-size: 12px;line-height: 58px;padding: 0 5px;}
        #footer .undertext hr{width: 0; height: 12px;margin-top: 22px;}
}







@media(min-width:600px) and (max-width:1424.99px) {

/* 헤더입니다.  /////////////////////
////////////////////////////////////*/

header{width: 100%; height: 55px;padding: 10px 0; background-color: white;
    position: absolute;z-index: 10; position: fixed;}
        #main{width: 96%; height: 38px; margin: 0 auto;position: relative;}
      
        /* 로고 입니다 */
        #logo{float: left;}
        #logo img{width: 130px; height: 35px;}
    
        /* 네비게이션 입니다 */
        nav{display: none;}
        #login{display: none;}
        /* 햄버거 매뉴입니다 */
        #main .hamburger{float: right; cursor: pointer;}
        #main .hamburger img{width: 40px;height: 43px; margin-top: -4px;}
/* 사이드 메뉴 입니다 */
#Manu{width: 100%;height: auto; position: fixed;background-color: white;  display: none;}
    #Manu .Manu{width: 80%;height: 100%; padding-top: 20px; margin: 0 auto;}
    #Manu .Manu a{width: 100%; display: block;text-align: center;margin:30px 0; font-weight: bold;font-size: 19px;}
    #Manu .Manu a:hover{text-decoration: underline;}
    #Manu .Manu .login a:nth-of-type(2){background-color: black; color: white;width: 100%;height: 100%;padding: 10px 0;
    margin-top: 30px; border-radius: 10px; transition: 0.5s; margin-bottom: 40px;}
    #Manu .Manu .login a:nth-of-type(2):hover{text-decoration: none; background-color: rgb(0, 68, 255);}
    
    /* 푸터입니다.  //////////////////////
    /////////////////////////////////////*/
    footer{width: 100%; height: 400px; background-color: white; 
        box-shadow: rgb(241, 241, 241) 0 -35px 30px 1px;}
        #footer{width: 100%; height: 300px; margin: 0 auto;
        padding-top: 80px;}
        /* 프터안 박스입니다 */
        .footer-box{width: 100%; height: 80%;}
        /* 아이콘 및 로고 입니다. */
        .footer-box .logo-icon{width: 200px; height: 100%;float: left;}
        .footer-box .logo-icon img[alt="logo"]{width: 100%;margin: 0;}
        .footer-box .logo-icon img{width: 18%;margin:15% 6%;}
        /* 메뉴입니다. */
        .footer-box .menu{height: 100%; float: left; width: auto; font-weight: bold; color: black;
        font-size: 18px;margin-left: 20%;}
        .footer-box .menu a{display: block;}
        .footer-box .menu a:hover{text-decoration:underline;}
        /* 마지막 박스 입니다. */
        #footer .undertext{float: left; border: solid #777 1px; border-style: solid none none none;
        width: 100%; margin-top: 80px;}
        #footer .undertext a{font-size: 12px; float: left; line-height: 58px;padding: 0 5px;}
        #footer .undertext hr{width: 0; height: 12px; float: left;margin-top: 22px;}    
    }











@media(min-width:1425px){
#Manu{display: none;}
/* 헤더입니다.  /////////////////////
////////////////////////////////////*/
header{width: 100%; height: 64px;padding: 14px 0;
position: absolute;z-index: 10; position: fixed;}
    #main{width: 96%; height: 38px; margin: 0 auto;position: relative;}
    /* 로고 입니다 */
    #logo{float: left;}
    #logo img{width: 150px; height: 38px;}

    /* 네비게이션 입니다 */
    nav{height: 100%;width:auto;display: block;display: inline-block;position: absolute;left: 50%;
    transform: translateX(-50%);}
    nav a{font-size: 17px; font-weight: bold;line-height: 38px; padding: 0 18px;}
    nav a:last-of-type{padding-right: 0;}
    nav a:hover{text-decoration: underline;}
    /* 로그인 입니다 */
    #login{width: auto;height: 100%; float: right;font-weight: bold;}
    #login a:nth-of-type(2){color: white; background-color: #333;border-radius: 10px;
    display: inline-block;padding: 5px 10px;margin-left: 10px;}
    .active{background-color: white;}
    .nav{color: black;}
    #main .hamburger{display: none;}

/* 푸터입니다.  //////////////////////
/////////////////////////////////////*/
footer{width: 100%; height: 400px; background-color: white; 
    box-shadow: rgb(241, 241, 241) 0 -35px 30px 1px;}
    #footer{width: 1400px; height: 300px; margin: 0 auto;
    padding-top: 80px;}
    /* 프터안 박스입니다 */
    .footer-box{width: 100%; height: 80%;}
    /* 아이콘 및 로고 입니다. */
    .footer-box .logo-icon{width: 200px; height: 100%;float: left;}
    .footer-box .logo-icon img[alt="logo"]{width: 100%;margin: 0;}
    .footer-box .logo-icon img{width: 18%;margin:15% 6%;}
    /* 메뉴입니다. */
    .footer-box .menu{height: 100%; float: left; width: auto; font-weight: bold; color: black;
    font-size: 18px;margin-left: 300px;}
    .footer-box .menu a{display: block;}
    .footer-box .menu a:hover{text-decoration:underline;}
    /* 마지막 박스 입니다. */
    #footer .undertext{float: left; border: solid #777 1px; border-style: solid none none none;
    width: 100%; margin-top: 80px;}
    #footer .undertext a{font-size: 12px; float: left; line-height: 58px;padding: 0 5px;}
    #footer .undertext hr{width: 0; height: 12px; float: left;margin-top: 22px;}    
}

